<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'post_it/logo_copy.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'post_it/styling_login.css' %}">
</head>
    <body>
        <div class="container">
            <div class="logo">
                <img src="{% static 'post_it/logo_copy.svg' %}">
                <h1>IdeaPost</h1>
                <p>Remember your ideas and collaborate with others with IdeaPost</p>
            </div>
            <div class="login">
                <form action="" method="POST" id="login" name="login">
                    <h1>Login</h1>
                    {% csrf_token %}
                    <label>Username</label>
                    <input class="text-input" name="login_email_username" type="text" placeholder="Username...">
                    <label>Password</label>
                    <input class="text-input" name="login_password" type="password" placeholder="Password...">
                    <div class="buttons">
                        <input class="button-input" type="submit" value="Login">
                        <button class="button-input" type="button" onclick="window.location.href='/signup/'">New account</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
